<template>
    <div id='app'>
        <button v-on:click="title = 'đã thay đổi'" >bấm để thay đổi</button>
        <ComponentHeader 
            v-bind:titleHeader="title"
            v-on:changeTitltEven="handleChangeTitle"
        />
        <Login />
        <Login02 />
        <div>
            <h2>form login 03</h2>
            <div class="flex">
                <InputBus />
                <OutputBus />
            </div>
        </div>
        <ComponentFooter v-bind:titleFooter="title" />
    </div>
</template>

<script>
// app
// header
// props down: truyền dữ liệu từ component cha xuống component con, component con chỉ được sử  dụng và không thể thay đổi trực tiếp, cha thay đổi thì con cũng sẽ được thay đổi
// sử dụng v-bind để ràng buộc dữ liệu thuộc tính
// ----------
// event up: truyền sự kiện thông báo cho component cha là conponent con muốn thay đổi dữ liệu, nhiệm vụ của component cha là nhận thông báo và tiến hành thay đổi dữ liệu -->> custom even 
// bình thường người dùng click thì sự kiện sẽ kích hoạt, còn ở đây mình sẽ dùng emit để  kích hoạt 

import ComponentHeader from './components/Header.vue';

import Login from './components/Login01';

import Login02 from './components/Login02.vue';

import InputBus from './components/InputFormBus.vue';

import OutputBus from './components/OutputFormBus.vue';

import ComponentFooter from './components/Footer.vue'

export default {
    name: 'App',
    data: function () {
        return {
            title: 'xinchao',
            message: 'Message default.'
        }
    },
    components: {
        ComponentHeader, 
        Login,
        Login02,
        ComponentFooter,
        InputBus,
        OutputBus,
    },
    mounted () {
    this.eventBus.on('test', (args) => {
            alert(args)
        })
    },
    methods: {
        handleChangeTitle(data) {
            this.title = data.title;
            console.log('hàm changeTitltEven được gọi', data)
        },
        emitEvent() {
            this.eventBus.emit('test', 'Welcome to MNP!')
        },
    }
}
</script>

<style scoped>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
}

.flex {
    display: flex;
    justify-content: center;
}

::v-deep(h2) {
    color: #000;
    text-align: center;
    font-size: 32px;
}

::v-deep(.cover-todo) {
    background: burlywood;
}
</style>
