<template>
    <footer>
        <h2>{{ titleFooter }}</h2>
    </footer>
</template>

<script>
export default {
    name: 'ComponentFooter',
    props: {
        titleFooter: {
            type: String,
            default: 'giá trị mặc định nếu không truyền vào'
        },
    },
    data:function () {
        return {
            // text: 'hi babe, im footer'
        }
    },
}
</script>

<style scoped>
    footer {
        background: yellow;
    }
</style>