<template>
    <header>
        <h2>
            {{ titleHeader }} <br>
            <button v-on:click="changeTitleHeader">Thay đổi title từ component Header.vue</button>
        </h2>
    </header>
</template>

<script>
// không được thay đổi trực tiếp props từ component cha truyền  vào
// truyền thông báo ra bên ngoài cho component cha 
// kích hoạt sự kiện changeTitleEvent trong component header
// khi kích hoạt function bên ngoài App.vue thì nó sẽ chạy -> sẽ thay đổi được dữ liệu của nó
export default {
    name: 'ComponentHeader',
    props: {
        titleHeader: String,
    },
    data: function () {
        return {
            // text: 'hibabe'
        }
    },
    methods: {
        changeTitleHeader(e) {
            // console.log(this)
            console.log('trước khi kích hoạt sự kiện changeTitltEven trong app.vue - trước khi bấm', e);
            var data = {
                title: 'title được tạo ra và truyền lên từ component header nhé'
            }
            this.$emit('changeTitltEven', data);
            console.log('sau khi kích hoạt sự kiện changeTitltEven trong app.vue');
        }
    }
}
</script>

<style scoped>
    header {
        background: pink;
    }
</style>