<template>
    <div class="cover">
        <h2>Nhập thông tin cá nhân</h2>
        <div class="input">
            <p>Email</p>
            <input v-model="email" placeholder="Nhập email" type="email" name="email">
        </div>
        <div class="imput">
            <p>Password</p>
            <input v-model="password" placeholder="Nhập password" type="password" name="pass">
        </div>

        <button v-on:click="eventEmitBus">baasm vao ddaay nhes!!!</button>
    </div>
</template>

<script>
export default {
    name: 'InputBus',
    data: function() {
        return {
            email: '',
            password: '',
        }
    },
    methods: {
        eventEmitBus() {
            var data= {
                email: this.email,
                password: this.password,
            }
            this.eventBus.emit('print', data);
        }
    },
}
</script>

<style scoped>
.cover {
    width: 20%;
    margin: 0px 40px;
    padding: 50px;
    background: pink;
    border: 2px dashed #000;
    border-radius: 10px;
}

.input {
    margin-bottom: 20px;
}

p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.info {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

h2 {
    margin: 0px 0px 25px 0px;
}

button {
    margin-top: 25px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 16px;
    box-sizing: content-box;
    background: #1da1f2;
    color: #fff;
    font-weight: 600;
}
</style>