<template>
    <div class="flex">
        <div class="cover">
            <h2>Nhập thông tin cá nhân</h2>
            <div class="input">
                <p>Emai</p>
                <input v-model="email" placeholder="Nhập email" type="email" name="email">
            </div>
            <div class="imput">
                <p>Password</p>
                <input v-model="password" placeholder="Nhập password" type="password" name="pass">
            </div>
        </div>

        <div class="cover">
            <h2>Thông tin cá nhân</h2>
            <div class="input">
                <p>Emai:</p>
                <p class="info">{{ email }}</p>
            </div>
            <div class="input">
                <p>Password:</p>
                <p class="info">{{ password }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:'Login',
    data: function () {
        return {
            email: '',
            password: '',
        }
    }
}
</script>

<style scoped>
body{
    margin: 0;
}

.container {
    margin: auto;
    padding: 50px;
}

.flex {
    display: flex;
    justify-content: center;
}

.cover {
    width: 20%;
    margin: 0px 40px;
    padding: 50px;
    background: pink;
    border: 2px dashed #000;
    border-radius: 10px;
}

.input {
    margin-bottom: 20px;
}

p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.info {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

h2 {
    margin: 0px 0px 25px 0px;
}
</style>
