<template>
    <div>
        <h2>form login 02</h2>
        <div class="flex">
            <inputForm v-on:inputSubmit="handleSubmitInput" />
            <outputForm 
                v-bind:email="email" 
                v-bind:password="password" 
            />
        </div>
    </div>  
</template>

<script>
import inputForm from './InputForm.vue';
import outputForm from './OutputForm.vue';

export default {
    name: 'Login02',
    components: {
        inputForm,
        outputForm,
    },
    methods: {
        handleSubmitInput(data) {
            console.log('handleSubmitInput được viết trong login02.vue sau khi kích hoạt', data)
            this.email = data.email
            this.password = data.password
        },
    },
    data: function () {
        return {
            email: this.email,
            password: this.password,
        }
    }
}
</script>

<style scoped>
body{
    margin: 0;
}

.container {
    margin: auto;
    padding: 50px;
}

.flex {
    display: flex;
    justify-content: center;
}

.cover {
    width: 20%;
    margin: 0px 40px;
    padding: 50px;
    background: pink;
    border: 2px dashed #000;
    border-radius: 10px;
}

.input {
    margin-bottom: 20px;
}

p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.info {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

h2 {
    margin: 25px 0px;
}
</style>