<template>
    <div class="cover">
        <h2>Thông tin cá nhân</h2>
        <div class="input">
            <p>Email:</p>
            <p class="info">{{ email }}</p>
        </div>
        <div class="input">
            <p>Password:</p>
            <p class="info">{{ password }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'outputForm',
    props: {
        email: String,
        password: String,
    }

}
</script>

<style scoped>
.input {
    margin-bottom: 20px;
}

p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.info {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: unset;
    height: 25px;
    font-size: 20px;
}

h2 {
    margin: 0px 0px 25px 0px;
}
</style>